{% extends 'base.html' %}

{% block content%}

    {% include 'navbar.html' %}

    <div class="m-5">
        <input type="text" name="values" value="" form="vegetableForm">
        <label for="customRange3" class="form-label">Pattern size</label>
        <input type="range" class="form-range" min="1" max="10" step="1" id="customRange3">
    </div>
    <form id="vegetableForm" class="d-flex" method="POST" >
        {% csrf_token %}
        {% for vegetable in all_vegetables %}
            <input type="checkbox" class="btn-check" name="vegetables" id="{{ vegetable }}" value="{{ vegetable }}" autocomplete="off">
            <label class="btn" for="{{ vegetable }}">{{ vegetable }}</label>
        {% endfor %}
    </form>

        <div class="mt-3">
            <table class="table result_table">

            <tbody>
            <tr class="result_table_row">
            </tr>
            </tbody>
            </table>
        </div>


    <script>
        document.querySelectorAll('input[type="range"]').forEach(function(input) {
            input.addEventListener('change', function() {
                document.querySelector('input[name="values"]').value = this.value;
                document.querySelectorAll('input[name="vegetables"]:checked').forEach(function(checkbox) {
                    checkbox.dispatchEvent(new Event('change'));
                });
            });
            input.addEventListener('input', function() {
                document.querySelector('input[name="values"]').value = this.value;
            });
        });
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        
        const csrftoken = getCookie('csrftoken');
        
        document.querySelectorAll('input[name="vegetables"]').forEach(function(checkbox) {
            checkbox.addEventListener('change', function() {
                const checkedVegetables = [];
                const checkboxes = document.querySelectorAll('input[name="vegetables"]:checked');
        
                checkboxes.forEach((checkbox) => {
                    checkedVegetables.push(checkbox.value);
                });
        
                const csrftoken = getCookie('csrftoken');
        
                // Convertir les données en format URL-encoded
                const formData = new URLSearchParams();
                formData.append('csrfmiddlewaretoken', csrftoken);
                checkedVegetables.forEach(vegetable => formData.append('selected_vegetables', vegetable));
                formData.append('pattern_size', document.querySelector('input[name="values"]').value);
        
                // Envoi de la requête AJAX
                fetch("{% url 'compose_plan' %}", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded', // changer le type de contenu
                    },
                    body: formData.toString() // envoyer les données en tant que chaîne URL-encoded
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();  // Traiter la réponse comme JSON
                })
                .then(data => { 
                    if (data.status === 'success') {
                        let table = document.querySelector('.result_table_row');
                        while (table.firstChild) {
                            table.firstChild.remove();
                        }
                        for (let i = 0; i < data.pattern.length; i++) {
                            const newCell = document.createElement('td');
                            newCell.textContent = data.pattern[i];
                            table.appendChild(newCell);
                        }
                    }
                    if (data.status === 'error') {
                        if (data.error_id == "no_veg_sel"){
                            let table = document.querySelector('.result_table_row');
                            while (table.firstChild) {
                                table.firstChild.remove();
                            }
                        }
                        console.error(data.message);
                    }
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
            });
        });
        
    </script>





{% endblock%}